<h3>Select ADMIN tab to create a new comment</h3>

 
<center>

<ul>
<% @posts.each do |post| %> 
  
<% if post.image_url?%>
  
  <div class="postbox">
    <li>Username: <%=post.user.username%></li>
    <li>Title: <%= post.title %></li>
    <li>Content: <%= post.content%></li>
    <img class="postpic" src="<%=post.image_url%>" height="150px" width="150px">
  
  </div>

  <%else%>
  <div class="postbox">
    <li>Username: <%=post.user.username%></li>
    <li>Title: <%= post.title %></li>
    <li>Content: <%= post.content%></li>
  </div>
<%end%>

<% end %>
</ul> 
</center>

