<div class="mypage">
<ul>
<li class="me">My name is:   <%=@myuser.first_name%><%=" "%><%=@myuser.last_name%></li>
<li class="me">My username is:   <%=@myuser.username%>
<li class="me">Contact me at:   <%=@myuser.email%></li>
<li class="me">I was born on:   <%=@myuser.birthday%></li>
</ul>
</div>



<footer>

<div class="social">
<a href="https://www.facebook.com/profile.php?id=1771672144">
<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
</a>
<a href="https://www.linkedin.com/in/aron-winston-42024893/">
<img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35" />
</a>
<a href="https://www.instagram.com/aronwinston/">
<img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
</a>
</div>

</footer>